@import url("https://fonts.googleapis.com/css2?family=Open+Sans");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e2e8f0;
  background-color: #126782;
  height: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-weight: 400;
  color: #ffffff;
  height: 20px;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

.logo-img {
  height: 30px;
  width: 100px;
  margin-left: 100px;
}

.inicio-sesion {
  background-color: #ffb703;
  color: #ffffff;
  height: 30px;
  padding: 8px;
  border-radius: 7px;
  border: 0px;
  align-content: center;
  margin-right: 20px;
}

.inicio-sesion:hover {
  background-color: #fb8500;
  cursor: pointer;
  color: #fff1f1;
}

.buscar {
  background-color: #023047;
  margin-right: 20px;
  width: 370px;
  height: 33px;
  border: 0;
  border-radius: 30px;
  padding: 15px;
  color: #ffffff;
  font-size: 16px;
  outline: none;
}

.post-container {
  width: 600px;
  height: auto;
  background-color: #ffffff;
  border-radius: 7px;
  -webkit-box-shadow: 0px 1px 6px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 6px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 6px -2px rgba(0, 0, 0, 0.75);
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.pregunta-container {
  width: 600px;
  height: auto;
  background-color: #ffffff;
  border-radius: 7px;
  -webkit-box-shadow: 0px 1px 6px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 6px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 6px -2px rgba(0, 0, 0, 0.75);
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.info-user {
  display: flex;
}
.img-user {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #ffb703;
  margin-top: 10px;
  margin-left: 10px;
  overflow: hidden;
}

.image-user {
  width: 100%;
  height: auto;
}

.info-user-text {
  color: #5d5d5d;
  align-content: center;
  text-align: left;
  margin-top: 15px;
  margin-left: 10px;
}

.name-user {
  font-size: 18px;
}

.user {
  font-size: 14px;
}

.post-text {
  font-size: 16px;
  text-align: justify;
  padding: 20px;
  color: #5d5d5d;
}

.botones-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.responder-text {
  font-size: 15px;
  color: #023047;
  cursor: pointer;
}

.responder-text:hover {
  color: #126782;
}

.boton-option {
  font-size: 13px;
  padding: 15px;
  color: #5d5d5d;
  cursor: pointer;
}

.boton-option:hover {
  color: #126782;
}

.code-img {
  background-color: #f5f5f5;
  padding: 10px;
  margin: auto;
  width: 90%;
  min-height: 200px;
  margin-bottom: 20px;
}

.pregunta-titulo {
  padding: 15px;
  font-size: 18px;
  color: #5d5d5d;
}

.botones-pregunta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.panel-boton {
  width: 100%;
}
.boton-p {
  background-color: #126782;
  border: 0;
  margin: 7px;
  width: 90px;
  height: 27px;
  border-radius: 7px;
  color: #ffffff;
  cursor: pointer;
}

.boton-p:hover{
 background-color: #023047;
}

.panel-post{
  width: 100%;
  padding: 10px;
  margin: 7px;

}


.post-input{
  width: 98%;
  border: 1px solid #126782;
  border-radius: 7px;
  height: 70px;
  outline: none;
  padding: 10px;
  color: #5d5d5d ;
  background-color: #F5F5F5;
  font-size: 15px;
  resize: none;
}
